<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required #nameInput5="ngModel" id="name" [(ngModel)]="register.name">
    <p class="message-error" [class.invalid]="nameInput5.invalid">El campo es requerido</p>
  </div>
  <div class="input-group">
    <label for="name">Email</label>
    <input type="email" name="email" required #email="ngModel" id="email" [(ngModel)]="register.email">
    <p class="message-error" [class.invalid]="email.invalid">El campo es requerido</p>
  </div>
  <div class="input-group">
    <label for="name">Password</label>
    <input type="password" name="password" required #password="ngModel" id="password" [(ngModel)]="register.password">
    <p class="message-error" [class.invalid]="password.invalid">El campo es requerido</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit" >Registrar</button>
  <button >Login</button>
</form>

<hr />
<h1>NgClass & style</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error" [ngClass]="{
  'valid':nameInput4.valid,
  'invalid':nameInput4.invalid
}" />
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }">

    </div>
  </div>
</div>

<hr />
<h1>class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic': 'normal'">Lorem ipsum dolor sit, amet consectetur adipisicing
  elit. Blanditiis aliquid, eligendi at corporis sint similique ipsa quaerat veritatis fugiat quasi maxime voluptatibus
  fuga aspernatur fugit voluptas in, veniam tenetur corrupti?</p>
<div>
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg " [src]="person.avatar">
  </div>
</div>

<hr />
<h1>nfSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'mari'"> La persona es mari</p>
  <p *ngSwitchCase="'nico'"> La persona es nico</p>
  <p *ngSwitchCase="'eimy'"> La persona es eimy</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr />
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length===0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf=" person.name == 'Mari' ">Soy Mari</p>
<p *ngIf=" person.name == 'ssdd' && person.age === 18; else myBlock">Soy ssdd</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<p>Name {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}}</p>

<hr />
<h1>Eventos - event binding</h1>
<button [disabled]="btnDisabled"> Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit animi, suscipit adipisci aut necessitatibus
    repellat facere eveniet deleniti consectetur. Omnis accusamus ducimus rem nulla inventore, dolorum aliquam labore
    sunt quidem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum harum eos omnis excepturi architecto
    unde necessitatibus pariatur nam recusandae odit laudantium iure eaque inventore vitae in, nostrum rem. Provident,
    accusantium!</p>
</div>
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr />
<h1>Propiedades - Propierty binding</h1>
<!-- configurar propiedades -->
<button [disabled]="btnDisabled"> Enviar</button>
<input type="text" [value]="person.name">
<progress [value]="person.age" max="100"></progress>
<img [src]="person.avatar" alt="" width="100">

<hr />
<!-- configurar contenido -->
<h1>hola mundo - String interpolation</h1>
<h2>{{'hola mundo - '.repeat(5)}}</h2>
<p>3 + 3 = {{ 3 + 3}}</p>
<h3>hola soy {{name}} y tengo {{age}}</h3>
<img width="200" src={{imagen}} alt="">
